body {
text-align: center;
background-image: url("https://i.imgur.com/BTJdpsn.jpg");
background-size: 100%;
display: grid;
grid-template-columns: 4fr;
grid-template-rows: 4fr;
height: 100vh;
margin: 70px;
background-color: red;
}
section {
display: flex;
flex-direction: column;
background-color: darkcyan;
height: 190vh;
}

h1 {
color: darkred;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

#player1 {
background-color: yellow;
display: flex;
height: 30vh;
width: 20vh;
flex-direction: row;
margin: auto;
margin-bottom: 50px;
}

#player2 {
background-color: yellow;
display: flex;
height: 30vh;
width: 20vh;
flex-direction: row;
margin: auto;
}

aside{
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
color: darkred;
display: flex;
justify-content: left;
background-color: cyan;
width: 90px;
height: 35px;
text-decoration: underline;
}

#p1aside {
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
display: flex;
justify-content: center;
background-color: lime;
width: 90px;
height: 35px;
margin-bottom: 35px;
}

#p2aside{
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
display: flex;
justify-content: center;
background-color: lime;
width: 90px;
height: 35px;
}

#div1{
font-family: Arial, Helvetica, sans-serif;
color: darkred;
background-color: lightblue;
display: flex;
flex-direction: row;
margin: auto;
}

#div2 {
font-family: Arial, Helvetica, sans-serif;
color: darkred;
background-color: lightpink;
width: 100px;
display: flex;
flex-direction: row;
margin: auto;
}

button {
color: red;
display: flex;
flex-direction: row;
margin: auto;
margin-top: 40px;
margin-bottom: 40px;
}

